In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

In [2]:
Bedrooms = []
Prices = []
Locality = []
Sqft = []
Status = []
Persqft =[]
lst = ['https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=3',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=4',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=5',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=6',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=7',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=8',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=9',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=10',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=11',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=12',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=13',
      'https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=14']
for i in lst:
    print(i)
    url = i
    page = requests.get(url)
    page.text
    soup = BeautifulSoup(page.text)


    p = soup.find_all("div",class_="title-line")


    for i in p:
        a = i.text
        b = re.findall(r'(\d+\s+BHK)',a)
        Bedrooms.append(b[0])

    p = soup.find_all("td",class_="price")


    for i in p:
        a = i.text

        Prices.append(a)



    p = soup.find_all("span",class_="locName")

    for i in p:
        a = i.text
        Locality.append(a)


    p = soup.find_all("td",class_="size")


    for i in p:
        a = i.text
        Sqft.append(a)


    p = soup.find_all("td",class_="val")


    for i in p:
        a = i.text
        Status.append(a)


    p = soup.find_all("td",class_="lbl rate")


    for i in p:
        a = i.text
        Persqft.append(a)
    Persqft

https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=3
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=4
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=5
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=6
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=7
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=8
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=9
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=10
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=11
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=12
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=13
https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?propertyType=villa&page=14

In [3]:
df3 = pd.DataFrame({'Bedrooms':Bedrooms,
                  
                  'Locality':Locality,
                  'Sqft':Sqft,
                  'Status':Status,
                  'Persqft':Persqft,
                  'Prices':Prices
                   
})

df3

,Bedrooms,Locality,Sqft,Status,Persqft,Prices
0,4 BHK,"Budigere Cross, Bangalore",2604,Under Construction,"6,999 / sq ft",1.82 Cr
1,4 BHK,"Sarjapur, Bangalore",4815,Under Construction,"8,383 / sq ft",4.03 Cr
2,4 BHK,"Harlur, Bangalore",4387,Ready to move,"7,929 / sq ft",3.47 Cr
3,2 BHK,"Anekal City, Bangalore",800,Under Construction,"4,937 / sq ft",39.5 L
4,4 BHK,"Budigere Cross, Bangalore",3712,Under Construction,"6,999 / sq ft",2.59 Cr
...,...,...,...,...,...,...
255,3 BHK,"Hoskote, Bangalore",1960,Under Construction,"5,190 / sq ft",1.01 Cr
256,4 BHK,"Hoskote, Bangalore",2560,Under Construction,"5,163 / sq ft",1.32 Cr
257,4 BHK,"Hoskote, Bangalore",2550,Under Construction,"5,386 / sq ft",1.37 Cr
258,3 BHK,"Hoskote, Bangalore",2490,Under Construction,"5,559 / sq ft",1.38 Cr
259,4 BHK,"Hoskote, Bangalore",3130,Under Construction,"5,378 / sq ft",1.68 Cr

In [4]:
df3[['Location','City']]=df3['Locality'].str.split(',',expand = True)
df3

,Bedrooms,Locality,Sqft,Status,Persqft,Prices,Location,City
0,4 BHK,"Budigere Cross, Bangalore",2604,Under Construction,"6,999 / sq ft",1.82 Cr,Budigere Cross,Bangalore
1,4 BHK,"Sarjapur, Bangalore",4815,Under Construction,"8,383 / sq ft",4.03 Cr,Sarjapur,Bangalore
2,4 BHK,"Harlur, Bangalore",4387,Ready to move,"7,929 / sq ft",3.47 Cr,Harlur,Bangalore
3,2 BHK,"Anekal City, Bangalore",800,Under Construction,"4,937 / sq ft",39.5 L,Anekal City,Bangalore
4,4 BHK,"Budigere Cross, Bangalore",3712,Under Construction,"6,999 / sq ft",2.59 Cr,Budigere Cross,Bangalore
...,...,...,...,...,...,...,...,...
255,3 BHK,"Hoskote, Bangalore",1960,Under Construction,"5,190 / sq ft",1.01 Cr,Hoskote,Bangalore
256,4 BHK,"Hoskote, Bangalore",2560,Under Construction,"5,163 / sq ft",1.32 Cr,Hoskote,Bangalore
257,4 BHK,"Hoskote, Bangalore",2550,Under Construction,"5,386 / sq ft",1.37 Cr,Hoskote,Bangalore
258,3 BHK,"Hoskote, Bangalore",2490,Under Construction,"5,559 / sq ft",1.38 Cr,Hoskote,Bangalore
259,4 BHK,"Hoskote, Bangalore",3130,Under Construction,"5,378 / sq ft",1.68 Cr,Hoskote,Bangalore

In [5]:
df3.drop(columns = 'Locality',inplace = True)
df3

,Bedrooms,Sqft,Status,Persqft,Prices,Location,City
0,4 BHK,2604,Under Construction,"6,999 / sq ft",1.82 Cr,Budigere Cross,Bangalore
1,4 BHK,4815,Under Construction,"8,383 / sq ft",4.03 Cr,Sarjapur,Bangalore
2,4 BHK,4387,Ready to move,"7,929 / sq ft",3.47 Cr,Harlur,Bangalore
3,2 BHK,800,Under Construction,"4,937 / sq ft",39.5 L,Anekal City,Bangalore
4,4 BHK,3712,Under Construction,"6,999 / sq ft",2.59 Cr,Budigere Cross,Bangalore
...,...,...,...,...,...,...,...
255,3 BHK,1960,Under Construction,"5,190 / sq ft",1.01 Cr,Hoskote,Bangalore
256,4 BHK,2560,Under Construction,"5,163 / sq ft",1.32 Cr,Hoskote,Bangalore
257,4 BHK,2550,Under Construction,"5,386 / sq ft",1.37 Cr,Hoskote,Bangalore
258,3 BHK,2490,Under Construction,"5,559 / sq ft",1.38 Cr,Hoskote,Bangalore
259,4 BHK,3130,Under Construction,"5,378 / sq ft",1.68 Cr,Hoskote,Bangalore

In [6]:
df = pd.read_csv('result_csv')
df.drop(columns = ['Unnamed: 0'],inplace = True)

In [7]:
final = pd.concat([df,df3],axis = 0)

In [8]:
final=final.reset_index(drop = True)
final

,Bedrooms,Sqft,Status,Persqft,Prices,Location,City
0,4 BHK,1930,Under Construction,"7,700 / sq ft",1.48 Cr,Patancheru,Hyderabad
1,4 BHK,4157,Under Construction,"7,200 / sq ft",2.99 Cr,Tukkuguda,Hyderabad
2,4 BHK,3400,Under Construction,"12,000 / sq ft",4.08 Cr,Bachupally,Hyderabad
3,4 BHK,2701,Under Construction,"5,200 / sq ft",1.4 Cr,Maheshwaram,Hyderabad
4,4 BHK,6125,Under Construction,"12,000 / sq ft",7.35 Cr,Mamidipally,Hyderabad
...,...,...,...,...,...,...,...
1295,3 BHK,1960,Under Construction,"5,190 / sq ft",1.01 Cr,Hoskote,Bangalore
1296,4 BHK,2560,Under Construction,"5,163 / sq ft",1.32 Cr,Hoskote,Bangalore
1297,4 BHK,2550,Under Construction,"5,386 / sq ft",1.37 Cr,Hoskote,Bangalore
1298,3 BHK,2490,Under Construction,"5,559 / sq ft",1.38 Cr,Hoskote,Bangalore
1299,4 BHK,3130,Under Construction,"5,378 / sq ft",1.68 Cr,Hoskote,Bangalore

In [9]:
final.to_csv('result_csv')